.kui.sticky.element {
    position: fixed !important;
    margin-top: 0 !important;
    top: 0 !important;
}
.kui.sticky.placeholder {
}

.kui.sticky.scrolled::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.kui.sticky {
    overflow: -moz-scrollbars-none;  // Firefox
}
.kui.sticky.scrolled {
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  // IE 10+
}
